body {
    
    font-size: 100px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color:lightgray;

}

html {
    background-color: cornflowerblue;
    background-image: url("spare.jpg");
}